@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rancho&display=swap');


* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
    cursor     : default;
}

html {
    scroll-behavior: smooth;
}

.img-logo {
    width      : 1.5em;
    height     : 1.5em;
    margin-left: -2em;
    cursor     : pointer;
    transition : all 500ms;
}

.logo .img-logo:hover {
    transform: rotate(180deg);
}

.redes {
    position  : absolute;
    display   : flex;
    transition: all 600ms;
    padding   : 0px 5px 0px 5px;
    cursor    : pointer;
}

#linkedin {
    transform: translate(10px, -150px) scale(0);
}

#github {
    transform: translate(75px, -65px) scale(0);
}

#gmail {
    transform: translate(140px, -150px) scale(0);
}

#whatsapp {
    transform: translate(205px, -65px) scale(0);
}

.logo:hover #linkedin {
    transform: translate(-30px, -100px) scale(1);
}

.logo:hover #github {
    transform: translate(30px, -100px) scale(1);
}

.logo:hover #gmail {
    transform: translate(90px, -100px) scale(1);
}

.logo:hover #whatsapp {
    transform: translate(150px, -100px) scale(1);
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header {
    position       : relative;
    top            : 0;
    left           : 0;
    width          : 100%;
    padding        : 0px 150px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    z-index        : 10000;
}

#header .logo {
    color          : #045081;
    font-weight    : 700;
    font-size      : 2em;
    text-decoration: none;
}

#header ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#header ul li {
    list-style : none;
    margin-left: 20px;

}

#header ul li a {
    text-decoration: none;
    padding        : 6px 15px;
    color          : #094b65;
    border-radius  : 20px;
    cursor         : pointer;
    font-size      : 1.1em;
    font-weight    : 800;
    letter-spacing : 1px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #045081;
    color     : #fff;
}

#dark-mode {
    width      : 3em;
    height     : 3em;
    margin-left: 2em;
    cursor     : pointer;
}

.languages {
    color        : #094b65;
    border-radius: 20px;
    cursor       : pointer;
    margin-left  : 2em;
    border       : none;
    background   : transparent;
}

.languages a {
    text-decoration: none;
    padding        : 0.5em 1.5em 0.5em;
    font-size      : 1.2em;
    font-weight    : 900;
    letter-spacing : 1px;
    color          : #094b65;
    border-radius  : 20px;
    cursor         : pointer;
}

.languages a:hover {
    background: #045081;
    color     : #fff;
}

#bird1 {
    filter: drop-shadow(-5px 5px 5.5px #383838)
}

#bird2 {
    filter: drop-shadow(5px 5px 5.5px #383838)
}

#forest {
    filter: drop-shadow(5px 5px 5.5px #383838)
}

.open,
.close {
    display: none;
}

section {
    position       : relative;
    width          : 100%;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

section::before {
    content   : '';
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 100%;
    height    : 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index   : 10;
}

section img {
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    pointer-events: none;
}

section #text {
    position   : absolute;
    color      : #045081;
    font-size  : 10vw;
    text-align : center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform  : translateY(-50px);

}

section #text span {
    font-size     : 0.20em;
    letter-spacing: 2px;
    font-weight   : 400;
    font-family   : 'Poppins', sans-serif;
}

#water {
    z-index: 2;
}

#btn {
    text-decoration: none;
    display        : inline-block;
    padding        : 8px 30px;
    background     : #fff;
    color          : #045081;
    font-size      : 1.2em;
    font-weight    : 600;
    letter-spacing : 2px;
    border-radius  : 40px;
    transform      : translateY(100px);
    animation      : animation 2s linear infinite;
    cursor         : pointer;
    z-index        : 1;
}

@keyframes animation {
    0% {
        box-shadow: 0 0 0 0 rgba(241, 244, 245, 0.6), 0 0 0 0 rgba(241, 244, 245, 0.6);
    }

    30% {
        box-shadow: 0 0 0 50px rgba(241, 244, 245, 0), 0 0 0 0px rgba(241, 244, 245, 0.6);
    }

    65% {
        box-shadow: 0 0 0 50px rgba(241, 244, 245, 0), 0 0 0 30px rgba(241, 244, 245, 0);
    }

    100% {
        box-shadow: 0 0 0 50px rgba(241, 244, 245, 0), 0 0 0 30px rgba(241, 244, 245, 0);
    }

}

/* Section the About me */
.sec {
    height    : 100%;
    position  : relative;
    padding   : 100px;
    background: #094b65;
    text-align: center;
}

.sec h2 {
    padding                : 0.5em;
    font-family            : 'Rancho', cursive;
    font-size              : 6vw;
    text-align             : center;
    line-height            : 0.55em;
    background-image       : linear-gradient(0deg, #41B9C2 40%, #C6F7FA 60%);
    display                : block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing         : 1px;
    text-transform         : capitalize;
}

.sec h3 {
    font-size              : 3em;
    font-family            : 'Rancho', cursive;
    line-height            : 0.55em;
    padding                : .5em 3em .5em 3em;
    margin-top             : 1em;
    background-image       : linear-gradient(0deg, #41B9C2 40%, #C6F7FA 60%);
    display                : inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing         : 2px;
}

.container-skills {
    display        : flex;
    justify-content: space-evenly;
}

.sec p {
    font-size  : 1em;
    color      : #fff;
    text-align : start;
    align-items: center;
}

.skills {
    display   : flex;
    flex-wrap : wrap;
    margin    : auto;
    width     : 65vh;
    transition: transform 0.5s ease;
}

.skills:nth-of-type(even) {
    transform: translateX(-800%);

}

.skills:nth-of-type(odd) {
    transform: translateX(800%);
}

.skills.showSkills {
    transform: translateX(0);
}

.skills i {
    font-size : 2.4em;
    padding   : .1em .5em .1em .5em;
    margin-top: 1.5em;
    transition: all .5s;
    color     : #fff;
}

.skills i:hover {
    transform: scale(2);
}

.fa-html5:hover {
    color: #E96228
}

.fa-css3-alt:hover {
    color: #1C84C1
}

.fa-js-square:hover {
    color: gold
}

.fa-python:hover {
    color: #3DA800
}

.fa-php:hover {
    color: blueviolet
}

.fa-sass:hover {
    color: deeppink
}

.fa-envira {
    transform: rotate(40deg);
}

.fa-envira:hover {
    color: #65AC3D;
}

.fa-react:hover {
    color: #00D1F7
}

.fa-angular:hover {
    color: #D6002F
}

.fa-bootstrap:hover {
    color: #8512F7
}

.fa-node-js:hover {
    color: #4cb422
}

.fa-laravel:hover {
    color: #EB4D43
}

.tools {
    display   : flex;
    flex-wrap : wrap;
    margin    : auto;
    width     : 60vh;
    color     : #fff;
    transition: transform 0.5s ease;
}

.tools i {
    font-size : 2.4em;
    padding   : .1em .5em .1em .5em;
    margin-top: 1em;
    transition: all .5s;
}

.tools i:hover {
    transform: scale(2);
}

.fa-git-alt:hover {
    color: #D74A34;
}

.fa-github:hover {
    color: #F7A000;
}

.fa-gitlab:hover {
    color: #F46A25;
}

.fa-figma:hover {
    color: #9D56F7;
}

.fa-npm:hover {
    color: #C53635;
}

.fa-yarn:hover {
    color: #3193BC;
}

.fa-trello:hover {
    color: #0075B9;
}

.fa-jira:hover {
    color: #136AE0;
}

.sec img {
    width        : 12em;
    height       : 15em;
    margin-bottom: 1em;
    border-radius: 10em;
}

.ov-btn-grow-ellipse {
    background     : #fff;
    color          : #045081;
    border         : 2px solid rgba(34, 179, 184, 1);
    padding        : 8px 30px;
    border-radius  : 40px;
    position       : relative;
    z-index        : 1;
    overflow       : hidden;
    display        : inline-block;
    text-decoration: none;
    box-shadow     : 0px 10px 20px rgba(34, 179, 184, 0.5);
    margin         : 2em 0 0 2em;
    cursor         : pointer;
}

.ov-btn-grow-ellipse:hover {
    color: #fff;
}

.ov-btn-grow-ellipse::after {
    content      : "";
    background   : #41B9C2;
    box-shadow   : 0px 15px 20px rgba(34, 179, 184, 0.4);
    position     : absolute;
    z-index      : -1;
    padding      : 16px 20px;
    display      : block;
    border-radius: 50%;
    left         : -50%;
    right        : -50%;
    top          : -150%;
    bottom       : -150%;
    transform    : scale(0, 0);
    transition   : all 0.4s ease;
}

.ov-btn-grow-ellipse:hover::after {
    transition: all 0.6s ease-out;
    transform : scale(1, 1);
}

.sec::before {
    content   : '';
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 100%;
    height    : 100px;
    background: linear-gradient(to top, #053244, transparent);
    z-index   : 10;
}

/* Section  the Projects*/
.sec-projects {
    height        : 100%;
    position      : relative;
    padding       : 1em;
    padding-bottom: 5em;
    background    : #053244;
    text-align    : center;
}

.sec-projects h2 {
    margin-bottom          : 0.5em;
    padding                : 0.5em;
    font-family            : 'Rancho', cursive;
    font-size              : 6vw;
    text-align             : center;
    line-height            : 0.55em;
    background-image       : linear-gradient(0deg, #41B9C2 40%, #C6F7FA 60%);
    display                : block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing         : 1px;
}

.sec-projects::before {
    content   : '';
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 100%;
    height    : 100px;
    background: linear-gradient(to top, #042330, transparent);
    z-index   : 10;
}

.project-container {
    display        : flex;
    flex-wrap      : wrap;
    margin         : auto;
    width          : 95%;
    justify-content: space-around;
    gap            : 2EM;
}

.project {
    border       : 2px solid rgba(34, 179, 184, 1);
    box-shadow   : 5px 15px 20px rgba(34, 179, 184, 0.4);
    background   : transparent;
    border-radius: 10px 10px 5px 5px;
    height       : 12.7em;
    position     : relative;
    transition   : all .5s ease;
    overflow     : hidden;
}

.project:hover {
    transform: scale(1.1);
}

.project .name {
    padding                : 0.5em;
    font-family            : 'Rancho', cursive;
    font-size              : 2vw;
    text-align             : center;
    line-height            : 0.55em;
    background-image       : linear-gradient(0deg, #41B9C2 40%, #C6F7FA 60%);
    display                : block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing         : 1px;
}

.img-container img {
    position     : relative;
    width        : 25vw;
    height       : 9.9em;
    border-radius: 0 0 3px 3px;
    object-fit   : cover;

}

.overlay {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    position       : absolute;
    bottom         : 0;
    left           : 0;
    background     : rgba(0, 118, 192, 0.781);
    width          : 100%;
    height         : 0;
    overflow       : hidden;
    transition     : .5s ease;
}

.project .overlay p {
    color     : #fff;
    width     : 25vw;
    font-size : 1em;
    position  : absolute;
    top       : 30%;
    left      : 50%;
    text-align: start;
    transform : translate(-50%, -50%);
}

.project :hover .overlay {
    height: 81%;
    cursor: pointer;
}

.overlay .info {
    display        : flex;
    justify-content: space-around;
}

.fa-github-alt {
    position  : absolute;
    margin-top: .8em;
    font-size : 2em;
    color     : #fff;
    cursor    : pointer;
    opacity   : 0;
}

.project :hover .fa-github-alt {
    opacity: 1;
}

.fa-globe-americas {
    position  : absolute;
    margin-top: .8em;
    font-size : 2em;
    color     : #fff;
    cursor    : pointer;
    opacity   : 0;
}

.project :hover .fa-globe-americas {
    opacity: 1;
}

/* Section  the Contacts */

.sec-contacts {
    height    : 100%;
    position  : relative;
    padding   : 100px;
    background: #042330;
    text-align: center;
}

.sec-contacts h2 {
    margin-bottom          : 0.5em;
    padding                : 0.5em;
    font-family            : 'Rancho', cursive;
    font-size              : 6vw;
    text-align             : center;
    line-height            : 0.55em;
    background-image       : linear-gradient(0deg, #41B9C2 40%, #C6F7FA 60%);
    display                : block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing         : 4px;
}

.sec-contacts p {
    font-size: 1em;
    color    : #fff;
}

.sec-contacts form {
    display       : flex;
    flex-direction: column;
}

.sec-contacts form input {
    border-radius : .8em;
    border        : 2px solid #41B9C2;
    background    : transparent;
    margin-bottom : 1.5em;
    width         : 25em;
    height        : 2.8em;
    padding-left  : .4em;
    color         : #fff;
    font-weight   : 600;
    line-height   : 24px;
    letter-spacing: 1.71429px;
    box-shadow    : 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.sec-contacts form input::placeholder {
    color: #fff;
}

.sec-contacts form input:focus {
    outline         : none;
    background-color: #042330;
}

.sec-contacts form textarea {
    border-radius : .8em;
    border        : 2px solid #41B9C2;
    background    : transparent;
    margin-bottom : 1.5em;
    width         : 25em;
    height        : 8em;
    padding-left  : .4em;
    color         : #fff;
    font-weight   : 600;
    line-height   : 24px;
    letter-spacing: 1.71429px;
    box-shadow    : 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.sec-contacts form textarea:focus {
    outline: none;
}

.sec-contacts form textarea::placeholder {
    color: #fff;
}

.sec-contacts form button {
    border-radius : .8em;
    border        : 2px solid #41B9C2;
    background    : transparent;
    margin-bottom : 1.5em;
    width         : 25em;
    height        : 2.5em;
    padding-left  : .4em;
    color         : #fff;
    font-weight   : 600;
    line-height   : 24px;
    letter-spacing: 1.71429px;
    box-shadow    : 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition    : all 0.3s ease 0s;
    cursor        : pointer;
    outline       : none;
}

.sec-contacts form button:hover {
    background-color: #41B9C2;
    box-shadow      : 0px 15px 20px rgba(34, 179, 184, 0.4);
    color           : #fff;
    transform       : translateY(-7px);
}

.sec-contacts::before {
    content   : '';
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 100%;
    height    : 100px;
    background: linear-gradient(to top, #031922, transparent);
    z-index   : 10;
}

.content-contact {
    display: flex;
    gap    : 5em;
}

.contact {
    display        : flexbox;
    text-align     : start;
    font-size      : 2em;
    text-decoration: none;
    font-family    : 'Rancho', cursive;
    padding-top    : 1em;
    width          : 16em;
}

.contact div i {
    margin-bottom: 2.5em;
    color        : #fff;
    margin-right : 1em;
}

.contact div a,
.contact a {
    color          : #fff;
    font-family    : 'Rancho', cursive;
    cursor         : pointer;
    text-decoration: none;
}

/* Button Float */

#btn_top .fas {
    position     : fixed;
    z-index      : 1000;
    font-size    : 3em;
    right        : 25px;
    bottom       : 25px;
    color        : #fff;
    text-align   : center;
    border-radius: 50%;
    transition   : all .2s;
}

#btn_top .fas:hover {
    cursor    : pointer;
    transform : scale(1.1);
    box-shadow: 0 0 0 2px rgba(241, 244, 245, 0.4);
}

.hidden {
    opacity   : 0;
    visibility: hidden;
}

.show {
    opacity   : 1;
    visibility: visible;
}

/* Section the footer */

footer {
    display       : block;
    flex-direction: column;
    margin        : auto;
    height        : 15vh;
    text-align    : center;
    background    : #031922;
}

.logos-footer i {
    font-size  : 2em;
    color      : #1E60C6;
    margin-left: 1em;
    cursor     : pointer;
}

.torre {
    width        : 2.3em;
    cursor       : pointer;
    margin-left  : 1.5em;
    margin-bottom: -0.4em;
}

footer span {
    color: #fff;
}

.freepik {
    width : 2em;
    cursor: pointer;
}

/*----------------------------- Media Query --------------------------*/

/* Small (sm) */
@media (max-width: 640px) {}

/* Medium (md) */
@media (max-width: 768px) {
    .open i {
        margin-left: 12rem;
    }

    .img-logo {
        width : 1em;
        height: 1em;
    }

    .redes {
        width : 1.2em;
        height: 1.2em;
    }

    .logo:hover #linkedin {
        transform: translate(-55px, -68px) scale(1);
    }

    .logo:hover #github {
        transform: translate(-10px, -68px) scale(1);
    }

    .logo:hover #gmail {
        transform: translate(35px, -68px) scale(1);
    }

    .logo:hover #whatsapp {
        transform: translate(80px, -68px) scale(1);
    }

    .sec {
        padding: 1.5em;
    }

    .sec img {
        width : 8em;
        height: 10em;
    }

    .skills {
        width: 40vh;
    }
}


/* Large (lg) */
@media (max-width: 1024px) {
    .menu {
        flex-direction  : column;
        position        : fixed;
        left            : 0;
        top             : 0;
        width           : 100%;
        align-items     : center;
        background-color: #678294;
        gap             : 3em;
        height          : 100%;
        overflow-y      : auto;
        opacity         : 0;
        pointer-events  : none;
        transition      : opacity 0.3s;
    }

    .open {
        display   : contents;
        color     : #0B447F;
        align-self: flex-end;
        background: none;
        font-size : 2em;
        border    : none;
    }

    .open i {
        cursor        : pointer;
        display       : flex;
        /* margin-left: 22rem; */
    }

    .close {
        display   : flex;
        align-self: flex-end;
        color     : #fff;
        z-index   : 2;
        right     : .5em;
        top       : .5em;
        position  : fixed;
        background: none;
        font-size : 2em;
        border    : none;
    }

    .close i {
        cursor: pointer;
    }

    .opened {
        opacity       : 1;
        pointer-events: all;
    }

    .project-container {
        width: 85%;
    }

    .img-container img {
        width : 19vw;
        height: 8em;
    }

    .project {
        height: 10em;
    }

    .project .overlay p {
        width    : 19vw;
        font-size: .6em;
    }

    .fa-github-alt {
        font-size: 1em;
    }

    .fa-globe-americas {
        font-size: 1em;
    }
}

/* Extra Large (xl) */
@media (max-width: 1200px) {
    .container-skills {
        flex-direction: column;
        align-items   : center;
    }

    .content-contact {
        flex-direction: column;
        align-items   : center;
    }
}